{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Hey guys!! Shantheri here. I am a python developer 🌱 . I like coding 💻. </p>
      <p>Let me tell you one thing... Ready ?? "Everything happens , Everything ends ... Just loneliness stays @ the mirror so just knock my door ,Lets have a chat!! 😛 </p>
    </div>
  </div>
</div>

  <hr>

  {% include "footer.html" %}